@font-face {
  font-display: swap;
  font-family: "Avenir Next";
  src: url("./AvenirNext-Regular.woff2") format("woff2"),
    url("./AvenirNext-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-display: swap;
  font-family: "Avenir Next";
  src: url("./AvenirNext-Bold.woff2") format("woff2"),
    url("./AvenirNext-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
